.garage {
  width: 100vw;
  height: 100vh;
}

.header {
  max-width: 900px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.header h2 {
  color: transparent;
  background: linear-gradient(135deg, #42d392, #647eff);
  -webkit-background-clip: text;
  background-clip: text;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  margin-top: 1.5rem;
}

.garage__body-header {
  display: flex;
  justify-content: space-between;
}

.garage__body hr {
  border: none;
  border-top: 2px solid black;
  margin-top: 5px;
}

.winners {
  width: 100vw;
  height: 100vh;
}

.car__component {
  position: relative;
}

.car__component hr {
  border-top: 1px solid gray;
}

.car-icon {
  display: block;
}

@media (max-width: 1300px) {
  .container {
    margin-inline: 1rem;
  }
}

@media (max-width: 1024px) {
  .garage__body-header {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 501px) {
  .header {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }

  .car-icon {
    size: 5rem;
  }
}
